cytoscape/tags/Cytoscape2_alpha_2004_4_29/testData/GO/geneProduct.dtd

<?xml encoding="US-ASCII"?>
<!-- Revision: 60 1.2 data/personal.dtd, docs, xml4j2, xml4j2_0_9  -->
<!ELEMENT geneProducts (geneProduct)+>
<!ELEMENT geneProduct (symbol,
                       molecularFunction?,cellularComponent?,biologicalProcess?)>
<!ELEMENT symbol (#PCDATA)>
<!ELEMENT molecularFunction (#PCDATA)>
<!ELEMENT cellularComponent (#PCDATA)>
<!ELEMENT biologicalProcess (#PCDATA)>
